@import "tailwindcss";

@theme {
  --color-bg-primary: #000000;
  --color-bg-secondary: #1a1a1a;
  --color-accent-purple: #8B5CF6;
  --color-accent-light: #A78BFA;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #D1D5DB;
  --color-card-bg: #2D2D2D;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
